.togglebutton {display: none;}

nav#menuresponsive {
  
  // border: 3px solid red; // TEST
  

	ul.menu {
    /*
    // border: 3px solid var(--c-text); // TETS
    background-color: var(--c-white); // TETS 
    // padding: 3px;    
    */
    display: flex;
    // gap: $spacing05;
    gap: 3px;

    
    li {
      
      // WP NATIVE - CURRENT PAGE
      &.current-menu-item {
        a {
          background-color: var(--c-accent);
          color: var(--c-white);
        }
      } // li.current-menu-item
      

      a { // BUTTON BEHAVIOUR !!!
        display: block;
        padding: $spacing025 $spacing05;
        
        // color: $c_white;
        font-weight: bold;
        font-size: 1.4em; // 


        text-wrap: nowrap; // OBS IN THE RIGHT EXTREEM 
        
        /*
        &:hover,
        &.is-current {text-decoration: underline;}
        */
        
        // border: $s_border; // this is accent color ..
        // border: $s_border_text; //  aka text color - esto no existe uan ... 
         // border: 3px solid var(--c-white); // TETS 

         // color: var(--c-white); // NEW
         color: var(--c-bg); // NEW
         // background-color: var(--c-black);
         // background-color: var(--c-accent);
         background-color: var(--c-text);
         transition: all 0.4s ease-in-out; // OUT SLOW

        &:hover {
          // background-color: var(--c-black);
          // background-color: var(--c-accent);
          // background-color: var(--c-black);
          // background-color: var(--c-text);
          background-color: var(--c-accent);
          // color: var(--c-white);
          
          transition-duration: 0.2s; // IN FAST
          }
        
        } // a
      

      
      /*
       *  2nd LEVEL - build it alwasy 3 levesl deep, as precaution, just in case, ya sti sabes 
       */
      &:hover {
        > ul {display: block;} // ONLY FOR CHILD, AS PRECAUTION
      }

      

        ul {
          display: none; // HIDE 2ND LEVEL TEMP
          
          position: absolute;
          
          background-color: var(--c-black);
          
        } // ul

      
      
      
      
    } // li
    
  } // ul.menu
  
  
  
  
  
	@media only screen and (max-width: $bp_m) { 				
		display: none;
  } // MEDIA-QUERY	
  
  
  
} // nav#menuresponsive