/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Boilerplate
 * File: Buttons
 */






/* BELONGS HERE IN FORMS IN RESET FILE  / class="css_submit_button" */

/* USE css style for submit button (input) inseide generic_links */
.css_submit_button {cursor:pointer; border:none;
border:2px solid #000; 
padding:0.2rem 0.5rem;
background-color:#bdbec0; /* GRISACEO */
font-family: 'Antonio', sans-serif;
font-weight:bold;
font-size:1.25rem;
color:#000;
}
	.css_submit_button:hover {background-color:#000; color:#0d80a1;}

input[type="submit"].css_submit_button:disabled
{
background:#dddddd; color:#F00; cursor:default;
}









/* do sass for colors, and for interactiuon behaviours - UI */
/* do sass for interactiuon behaviours - UI */

// 3 SPEEDS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!	

// TODO - MOVE TO VARIABLES, SO THAT HEY CAN BE REUSED MORE EASILY !
$t_fast: 0.2s;
$t_base: 0.6s;
$t_slow: 1.0s;	
	
	
	
	
@mixin transitionButton {
	// @include transition(all $t_slow linear);
  // transition: width $t_slow linear 1s;
  transition: width $t_slow linear;
}
	
	



// .pointer {cursor: pointer;} /* THIS IS TOO GENERIC !!!!!!!!! */






/* UI ELEMENTS / move to buttons file ================================================================================== */



.buttonStyleX { // MAYEB ADD TRASNITION SPEED !!!    --- UI_BUTTON MIXIN...
	/*
	background-color:$c_primary_dark;
	&:hover {background-color: $c_primary;}		
	*/
	background-color: var(--c-accent);
	&:hover {
		background-color: #60f; // VERY TEMP
	}	

}
	
// TRN INTO PLACEHODLER ...
.button {
	cursor:pointer;
	@include transitionButton;
	@extend .buttonStyleX;
	font-weight: bold;
	color: var(--c-white); // !!!! todo - darkmode 
	padding: 0.6em 1em; // 
	border-radius: $spacing025;
	}

	.buttonSmall {
		@extend .button;
		font-size: var(--fs-s);
		}
	.buttonMedium {
		@extend .button;
		font-size: var(--fs-m);
		}	
	.buttonBig {
		@extend .button;
		font-size: var(--fs-l);
		}		