/* CSS Document - SASS */
/* Front-End */





// $s_border: 3px solid #f06;
$s_border: 3px solid var(--c-accent);






// MATERIAL DESIGN COOR PICKER TOOLS !!!!!!!!!!!!!!!!!!!!!!!!!!!!





/* 
 * FALLBACKS using Sass
 */
 
 

/* CREATE MIXIN for rem fontsize and px fallback solution */

/* FALLBACK for background opacity */
	#asfgasafasf {
		background: #ccc; /* Fall-back for brosers that don't support opacity */
		background: rgba(204, 204, 204, 0.85);

	}



// create mixin - CSS_FALLBACK_tricks - LINK - the RGB fallback color only works when using shorthand. 
// http://css-tricks.com/ie-background-rgb-bug/



















/* 
 *
 * CARDS
 *
 */
 @mixin s_card____NOT { // // s_card_default // default / (base, or just npothing ...)
	// s_CARD_BASE ... ETC 

	// background-color: $c_white; /* PRECAUTION */
	background-color: white; /* PRECAUTION */

	// box-shadow: 0px 0px 2px #ccc;
	// box-shadow: 0px 0px 4px 2px #ccc;
	// box-shadow: 0px 0px 8px -2px #ccc;
	box-shadow: 0px 0px 8px 2px #ccc;



	// padding: $space025;		
	padding: 1em;
	// border-radius: $spacing05;
	border-radius: 12px; // 


  } // a_ui_default






  @mixin card {
	// CARD - CONTAINER
	// background-color: $c_white;  // card - need bg color always, as precautin but also as best practices ...

	// background-color: $c_white; /* PRECAUTION */
	background-color: white; /* PRECAUTION */
	
	
	// box-shadow: 0px 0px 2px #ccc;
	// box-shadow: 0px 2px 11px 8px #999; // 999 - FOR EHWN BG IS CCC
	box-shadow: 0px 4px 4px 2px #999; // 999 - FOR EHWN BG IS CCC
	border-radius: 6px; // TEST 
  } // card
  





