/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Boilerplate
 * File: Sass - Layout
 */

 
/* SPACINGS */

@mixin spacing($anyth)  {
	margin-bottom: $baseSpacing x $anyth;
	}
	






/* 
 * SASS - MIXINS - LAYOUT - line clamp / clamps // css clamps 
 */
 @mixin css_line_clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines; // number of lines
  -webkit-box-orient: vertical;  
  overflow: hidden;
}





/*
 * SASS - MIXINS - LAYOUT - RESPONSIVE
 */
@mixin centered {
	/* display: block; */
	margin-left: auto; // fallback
	margin-right: auto; // fallback
  margin-inline: auto;
	}
@mixin fullwidth {
	float:none; 
	width:100%;
	}
	



/* 
 * SASS - MIXINS - LAYOUT - PADDING
 */
@mixin paddingh($paddingh) {
	padding-left: $paddingh; // fallback
	padding-right: $paddingh; // fallback
  padding-inline: $paddingh;
	}

@mixin paddingv($paddingv) {
	padding-top: $paddingv; // fallback
	padding-bottom: $paddingv; // fallback
  padding-block: $paddingv;
	}
	

/* 
 * SASS - MIXINS - LAYOUT - MARGIN
 */  
@mixin marginh($marginh) {
  margin-left: $marginh; // fallback
  margin-right: $marginh; // fallback
  margin-inline: $marginh;
  }
@mixin marginv($marginv) {
  margin-top: $marginv; // fallback
  margin-bottom: $marginv; // fallback
  margin-block: $marginv;
  }

/* 
 * SASS - MIXINS - IMAGES
 */  
@mixin img { 
  width: 100%;
  display: block;
  }       
@mixin bg_img {
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;
  }  

/* 
 * SASS - MIXINS - IMAGES - ASPECT RATIOS
 */
  
@mixin ar_square {padding-top: 100%;} 
@mixin ar_4_3 {padding-top: 75%;} 
@mixin ar_16_9 {padding-top: 56.25%;} 
@mixin ar_cinemascope {padding-top: 42.55%;}        
@mixin ar_poster {padding-top: 134.5%;}


/* 
 * SASS - MIXINS - SIMPLE SHAPES
 */ 
 
@mixin circle($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius:50%;
    }
    
@mixin square($edge) {
    width: $edge;
    height: $edge;
    }  
    
@mixin rectangle($h_edge, $v_edge) {
    width: $h_edge;
    height: $v_edge;
    } 
	
/* 
 * SASS - MIXINS - TEXT
 */
  
@mixin ellipsis {
	overflow: hidden;
	
  white-space: nowrap; 
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;  
  }
	
		
		

/* 
 *
 * CARDS
 *
 */
 @mixin s_card____NOT { // // s_card_default // default / (base, or just npothing ...)
	// s_CARD_BASE ... ETC 

	// background-color: $c_white; /* PRECAUTION */
	background-color: white; /* PRECAUTION */

	// box-shadow: 0px 0px 2px #ccc;
	// box-shadow: 0px 0px 4px 2px #ccc;
	// box-shadow: 0px 0px 8px -2px #ccc;
	box-shadow: 0px 0px 8px 2px #ccc;



	// padding: $space025;		
	padding: 1em;
	// border-radius: $spacing05;
	border-radius: 12px; // 


  } // a_ui_default



  @mixin card {
	// CARD - CONTAINER
	// background-color: $c_white;  // card - need bg color always, as precautin but also as best practices ...
	// background-color: $c_white; /* PRECAUTION */
	background-color: white; /* PRECAUTION */
	// box-shadow: 0px 0px 2px #ccc;
	// box-shadow: 0px 2px 11px 8px #999; // 999 - FOR EHWN BG IS CCC
	box-shadow: 0px 4px 4px 2px #999; // 999 - FOR EHWN BG IS CCC
	border-radius: 6px; // TEST 
  } // card