/*
 * CSS
 * Global
 */
 
/* COMPASS */
/*
@import "compass/css3";
*/


/*
 *
 * 
 * BASE
 *
 * 
 */

/* 
 * RESET 
 */
@import "partials/base/reset";

/* 
 * VARIABLES - create fie for css_variables etc
 */
@import "partials/base/colors";
// @import "partials/base/font_sizes"; // OBSOLETE-KILL
// @import "partials/base/spacing";
// @import "partials/base/break_points";
@import "partials/base/css_variables"; // CSS VARIABLES - include font-sizes, spacing, break-points, etc. NOT BREAKPOINTS AS THEY CANNOT ME USED IN MEDIA QUERY DEFINITIONS !!!!

// @import "partials/base/sass_variables";
// @import "partials/base/sass_mixins"; // etc




/* 
 * 0 - DEV ( & DEMO) PURPOSES ONLY - ojo qu ehay un .css en la css folder... 
 */
/* */
@import "partials/dev/dev";


/* 
 * STYLINGS AKA SASS
 */
/*  */
// mixins, etc extends, paceholders etc 
@import "partials/base/sass_style"; // quitar la s final .... com si se llama branding ... peor no e sbranding solo ...
@import "partials/base/sass_layout";
@import "partials/base/sass_transitions";
@import "partials/base/sass_functions";


@import "partials/js_intersection_observer"; // tets, have html, now css, solo falat el script !


/* 
 * TYPOGRAPHY
 */
@import "partials/base/typography";
@import "partials/base/typopgraphy_htmleditor";
/* @import "partials/base/typography_BULLSHIT"; */

/* 
 * BUTTONS - AMYBE AFTER TYPOGRAPHY, IF BUTOTN REQUIER ETYPOGRAPHIES...
 */
@import "partials/base/buttons";  /* MUST BE CALLED BEFORE FORMS, AS CERTAIN FOMR ELEMENTS CALL BUTOTN STYLES */

/* 
 * 6 - FORMS 
 */
@import "partials/base/form_layout";
@import "partials/base/form_elements";
@import "partials/base/form_filebutton";

/* 
 * 7 - TABLES 
 */
@import "partials/base/tables"; // ui_tables



/* 
 * 0 - STYLEGUIDE !!!! COPY SYSTEM FORM MOSS WESBIET, AND EXPAND IT !!!!S
 */


/* 
 * 8 - LAYOUT 
 */
// @import "partials/layout/layout"; // layout VS layout_main
@import "partials/layout/layout_main"; // RENAME ABOVE FILE
// @import "partials/layout/layout_stickyFooter_table"; // TODO . IMPEEMNT FLEX STICKY FOOTER IN LAUPTY MAIN PAGE, WITH PABE GE AND PAGE CNETNT LAYER, STAT & END INCLUDES 
@import "partials/layout/layout_stickyFooter_flex"; 
@import "partials/layout/layout_page"; // AS FOR STH GERENCI TO START-OFF-HERE FILE - aka page_component(s) //, page_layout, page_structure, page_template, page_layout, page_layout_main

/* 
 * COMPONENTS 
 */

/* 
 * COMPONENTS - POPUPS
 */
// @import "partials/template/popups/cookies";
@import "partials/template/popups/wp_cookies";

/* 
 * COMPONENTS - ORGANISMS
 */
// // // @import "components/organisms/header";

/* 
 * TEMPLATE 
 */


 /* 
 * tails - header & footer ... 
 */
@import "partials/template/header/header_main"; // header
@import "partials/template/header/header_components"; // header

@import "partials/template/header/nav"; // NOT IN USE...
@import "partials/template/header/wp_nav";

// hedaer buttons & header dropdwosn are related .
// @import "partials/tails/header/header_buttons"; 
@import "partials/template/header/header_buttons"; 

 // @import "partials/layout/header_dropdowns"; // 
// @import "partials/tails/header/header_dropdowns"; 
@import "partials/template/header/header_dropdowns"; 

@import "partials/template/header/dev_buttons"; // dev buttons

// FOOTER
@import "partials/template/footer/footer_main"; 
@import "partials/template/footer/footer_components"; 

// GENERLA COMPONETS,LIKE SOCIAL 
// @import "partials/atoms/components"; // NEVER CERATED
@import "partials/template/components/components"; // ater can split up into

/* 
 * COMPONENTS - ATOMS 
 */
// @import "partials/atoms/atoms";

/* 
 * WORDPRESS - POSTS (aka Blog)
 */
 @import "partials/wp/blog/home_blog"; // aka grid-post(s) for home.php aka newspaper layout ...
@import "partials/wp/blog/grid_blog"; // aka grid-post(s)
@import "partials/wp/blog/blogPost"; // aka single-post

/* 
 * WORDPRESS - RESULTS - INTEGRATION (either one or the other)
 */
 @import "partials/wp/results/grid_results";
 @import "partials/wp/results/grid_results_simple";
 

// NOT - atoms
// NOT - molecules
// NOT - organisms


/* 
 * COMPONENTS - UI 
 */
@import "partials/ui/ui_social"; // social media icons VS social share as s separate componete !!!!
// @import "partials/ui/ui-social-share"; // social media icons VS social share as s separate componete !!!!


// CUSTM POST TYPES
// cpt_snsatte etc ...s

/* MODULES */


// @import "partials/modules/cowo_gridlist"; // copied to here fomr cb, so i can then copyu it to phabuous ... 
@import "partials/ui/ui_gridlist";


@import "partials/modules/cowo_tabs";
@import "partials/modules/cowo_accordion";
@import "partials/modules/cowo_dropdown";
@import "partials/modules/lightboxme";
// @import "partials/modules/dev_ruler";  // OBS conflict with ".item" class in global.scss
@import "partials/modules/dev_styleguide"; // !!!


@import "partials/modules/jquery.mmenu.all"; /* Mmenu - Side menu */


// @import "partials/modules/megatron"; 
@import "partials/modules/megatron_ui_flipcard"; 

@import "partials/modules/headroom"; 


/* 
 * Z - OBSOLETE 
 */
/* FOR THE RESPONSIVE BEHAVIOUR */
// @import "partials/z_obsolete/grid/cowo_grid";
// @import "partials/z_obsolete/grid/cowo_grid_queries";



 /* 
 * 12  WORDPERSS - BASICS - copied fomr pahbuous wtf !! maybe copied to there fomr wp eimoe, so never excisted her ein wp_Cowowo ?!?! wtf !!! this is basi cthsit man !!
 */

// MOVE HERE ALSO THE NV WP PARTIAL THAS CURENTLY INSIDE HEDARE TEMAPET FORLDER  
// @import "partials/wp/wp_adminbar"; // NOW MANAGED THROUGH FUNCTIONS
// // // @import "partials/wp/wp_nav";
@import "partials/wp/wp_submenu";
// // // @import "partials/wp/layout_wp";
// // // @import "partials/wp/wp_form_search"; // basic CSS mgmt

@import "partials/wp/wp_pagination";
@import "partials/wp/wp_post_nav";
// // // @import "partials/wp/wp_post_nav";



