/*
 * CSS
 * Global
 */
// @import "compass/css3"; /* COMPASS */

// BASE - CSS RESET 
@import "partials/base/reset";

// BASE - VARIABLES
@import "partials/base/colors";
@import "partials/base/css_variables"; // goasl- al variabels except breakpoitnms.

// BASE - SASS - mixins, etc extends, paceholders etc 
@import "partials/base/sass_variables";
@import "partials/base/sass_mixins"; // OBS - MUST BE AFTER SASS VARIABLES
@import "partials/base/sass_transitions";
// @import "partials/base/sass_functions";

// BASE - TYPOGRAPHY
@import "partials/base/typography";
@import "partials/base/typopgraphy_htmleditor"; // THIS SI ALSO MEZZZO HTML TAGS ... 

// 0 - DEV ( & DEMO) PURPOSES ONLY - ojo qu ehay un .css en la css folder... 
@import "partials/dev/dev";
// @import "partials/dev/wp_adminbar"; // NOW MANAGED THROUGH FUNCTIONS
// @import "partials/dev/dev_ruler";  // OBS conflict with ".item" class in global.scss
// STYLEGUIDE !!!! COPY SYSTEM FORM MOSS WESBIET, AND EXPAND IT !!!!S
@import "partials/dev/dev_styleguide"; // !!!  -AFTER TYPOGRAPHY !!! AS IS ASASSS...

// BUTTONS - AMYBE AFTER TYPOGRAPHY, IF BUTOTN REQUIER ETYPOGRAPHIES...
@import "partials/base/buttons";  /* MUST BE CALLED BEFORE FORMS, AS CERTAIN FOMR ELEMENTS CALL BUTOTN STYLES */

// 6 - FORMS 
@import "partials/base/form_layout";
@import "partials/base/form_elements";
@import "partials/base/form_filebutton";

// 7 - TABLES 
@import "partials/base/tables"; // ui_tables

// BASE - LAYOUT 
@import "partials/layout/layout_main";
@import "partials/layout/layout_scroll"; //  SCROLL SMOOTHENESS AND SCROL SNAP
// @import "partials/layout/layout_stickyFooter_table"; // TODO . IMPEEMNT FLEX STICKY FOOTER IN LAUPTY MAIN PAGE, WITH PABE GE AND PAGE CNETNT LAYER, STAT & END INCLUDES 
@import "partials/layout/layout_stickyFooter_flex"; 
@import "partials/layout/layout_page"; // AS FOR STH GERENCI TO START-OFF-HERE FILE - aka page_component(s) //, page_layout, page_structure, page_template, page_layout, page_layout_main
// // // @import "partials/wp/layout_wp";

// TEMPLATE PARTS - HEADER
@import "partials/template/header/header_main"; // header
@import "partials/template/header/header_components"; // header
// OBS - hedaer buttons & header dropdwosn are related .
@import "partials/template/header/header_buttons"; 
@import "partials/template/header/header_dropdowns"; 
@import "partials/template/header/dev_buttons"; // dev buttons

/* PLUGINS */
@import "partials/plugins/headroom"; 
@import "partials/plugins/jquery.mmenu.all"; /* Mmenu - Side menu */

// TEMPLATE PARTS - FOOTER
@import "partials/template/footer/footer_main"; 
@import "partials/template/footer/footer_components"; 

// TEMPLATE PARTS - NAV (WP BASICS)
@import "partials/template/nav/wp_nav"; // and move this to /nav fodler !!!!!!!!! as the tempaltepartss   & KIL THE OLD WP_NAVE FIEL 
// // // @import "partials/template/nav/wp_nav_old"; // OLD - KILL LATER
@import "partials/template/nav/wp_submenu";
@import "partials/template/nav/wp_pagination";
@import "partials/template/nav/wp_post_nav";

// TEMPLATE PARTS - SEARCH (WP BASICS) - - - WORDPRESS - RESULTS - INTEGRATION (either one or the other)
@import "partials/template/search/grid_results";
@import "partials/template/search/grid_results_simple";
// // // @import "partials/wp/wp_form_search"; // basic CSS mgmt

// TEMPLATE PARTS - POST (WP BASICS) - - - WORDPRESS - POSTS (aka Blog)
@import "partials/template/post/home_blog"; // aka grid-post(s) for home.php aka newspaper layout ...
@import "partials/template/post/grid_blog"; // aka grid-post(s)
@import "partials/template/post/blogPost"; // aka single-post

// TEMPLATE PARTS - COMPONETS - GENERAL COMPONENTS, LIKE SOCIAL 
@import "partials/template/components/components"; // ater can split up into
@import "partials/template/components/ui_social"; // social media icons VS social share as s separate componete !!!!
// @import "partials/template/components/ui-social-share"; // social media icons VS social share as s separate componete !!!!

// COMPONENTS - POPUPS
// @import "partials/template/popups/cookies";
@import "partials/template/popups/wp_cookies";

// TEMPLATE PARTS - PATTERNS
@import "partials/template/patterns/cowo_tabs";
@import "partials/template/patterns/cowo_accordion";
@import "partials/template/patterns/cowo_dropdown";
@import "partials/template/patterns/ui_gridlist";
@import "partials/template/patterns/lightboxme"; // vs popover modail dialog whatevrr !!!!!!!!!!!!!!!!!!!
@import "partials/template/patterns/megatron_ui_flipcard"; 

//  UI / UX ENHANCEMENTS - ALSO ADD PAGE VIEW TRASITON S!!!!
@import "partials/ui/js_intersection_observer"; // tets, have html, now css, solo falat el script !




/* 
 * Z - OBSOLETE 
 */
/* FOR THE RESPONSIVE BEHAVIOUR */
// @import "partials/z_obsolete/grid/cowo_grid";
// @import "partials/z_obsolete/grid/cowo_grid_queries";

/* 
 * COMPONENTS - UI 
 */

// CUSTOM POST TYPES

/* MODULES */
// NOT - atoms
// NOT - molecules
// NOT - organisms
/* 
 * COMPONENTS - ATOMS 
 */
// @import "partials/atoms/atoms";