/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Layout
 */
body {
  background-color: var(--c-bg);  // tets 
}
  #page {
    /* PLACEHOLDER */
  }
    header#header, 
    footer#footer {
      // background-color: $c_accent;  
      // background-color: #957DAD;  // tets 
      // background-color: var(--c-black);  // tets / chNGE TO VARIABLES, AFET R CIPYING DARK MODE FOMR OTHER PLACE
      
      // background-color: var(--c-bg); 
      background-color: var(--c-bg-tails);
      color: var(--c-text-tails);
    }



// meter aqui en flex sticky footer wn vez de que este en un pattial aparte, ioverkill 




/* 
 * BACKGROUNDS
 * 1) alternate bg colors (etc)
 * 2) scrolL snapping - obs issue with sticky footer flex !
 *
 * SYSTEM ALTERNATING BACKGROUND COLORS  // // DIDNT FIND THIS, SO I BUILT IT AGAIN:active
 */

 .backgrounds { // s_
  
  .background:nth-of-type(odd) {
    // background-color: var(--c-bg-website);
    // background-color: var(--c-bg-dark);  // tets 
    // background-color: var(--c-bg-alt);  // tets 
    background-color: var(--c-bg);  // tets - ODD, AKA 1, AKA STAT WITH THE NOMAL BG COLOR
  } // odd
  
  .background:nth-of-type(even) {
    // background-color: var(--c-bg-website-alt);
    // background-color: var(--c-bg-light);  // tets 
    // background-color: var(--c-bg);  // tets 
    background-color: var(--c-bg-alt);  // tets 
  } // even
  
} // backgrounds



/* 
 * VERTICAL SECTIONS
 */	
section {
	// ASA CLASS MODIFIER, ELSE IT'S TOO GENERAL.
	// background-color: #CCC; 
	// margin-bottom: $spacing2; // TEST
	// border: 1px solid black; 
  // ALTERNATING BG ....
  // TEMP
  // // // padding-block: $spacing2; // shoudl kil thos probably !!! / yes,l this is dangerous.. 
  
  &.pb4 {
    // padding-block: $spacing4; // 
    padding-block: 4em;
  }
	
} // section


/* 
 * HORIZONTAL SECTIONS - WIDTHS  -todo - renamer as wrapper or frame ..
 */		
.frame {
  // border: $s_border;
  // @include centered;
  margin-inline: auto;
  min-width: 320px; 
  // max-width: 1240px;
  max-width: 1440px;
  // max-width: 1640px;
  /* HORIZONTAL PADDING */
  // @include paddingh($spacing);
  @include paddingh($spacing2);
	// CAN BE SIMPLIFIED AS GENRIC TRANSIITON VALUE MIXIN
  /*
  @include transition(padding-left, $t_slow); // RWD EYE-CANDY
  @include transition(padding-right, $t_slow); // RWD EYE-CANDY
  */
  transition: padding-left $t_slow linear, padding-right $t_slow linear;
  
  @media only screen and (max-width: $bp_l) {@include paddingh($spacing);} // MEDIA-QUERY
  @media only screen and (max-width: $bp_m) {@include paddingh($spacing05);} // MEDIA-QUERY	
 
  &.narrow {max-width: 1024px;}
  &.medium {max-width: 1240px;}
  &.wide {max-width: 1660px;}
	&.full {max-width: 1920px;}
  &.flush {@include paddingh(0px);} // flush

} // frame 			
	
	
/*

// RENAME AS page_content (div id)

// in php start / end - really unnnecessary .... and should be class anywasy...
#content { // 
	// min-height:200px; 
	overflow:hidden; // ????????? 
	// background-color: #999;
	@include paddingv($spacing2);
	
	.inner {} // too unspecific, as there is a frame in between... but could be a different frame... 
	
	} // content

*/